body{
    display:flex;
    align-items: center;
    flex-direction: column;
}
h1{
    background-color: aqua;
    color:black;
    text-align:center;
    font-size:70px;
    padding:20px;
    border: 5px solid black;
    width:500px;
}
h2{
    font-size:50px;
    background-color: burlywood;
    color:darkslategrey;
    width:300px;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap:5px;
    color: black;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    font-size:40px;
}
.a{
    border-color: aqua;
    border: 5px  solid black;
    background-color:bisque;
    width:100px;
    height:100px;
}
button{
    size:50px;
    font-size:40px;
}