body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    width:520px;
    height:80px;
    font-size: 50px;
    border:10px ridge black;
    text-align: center;
    padding-top:5px;
}
#answer{
    background-color: black;
    color:aliceblue;
    font-size:40px;
    width:520px;
    height:100px;
    text-align:right;
}
.container{
    display: grid;
    grid-template-rows: repeat(5,100px);
    grid-template-columns: repeat(4,130px);
    
    font-size:40px;
    border: 5px solid whitesmoke;
    color: white;
    
    background-color: black;
}
div{
    border: 5px solid whitesmoke;
    text-align: center;
}
.c.active {
  background-color: #444;
  transform: scale(0.95);
  transition: background-color 0.1s, transform 0.1s;
}
