body{
    padding: 10px;
    background: linear-gradient(to right, #d8d8db, #7f5da1);
    
}
#container1{
    text-align:center;
    font-size: 1.5em;
    padding:20px;
    width:460px;
    color:rgb(219, 221, 223);
    border-radius:20px;
    background-color:rgba(31, 173, 192, 0.151);
    backdrop-filter: blur(0px);
    box-shadow:16px 14px 10px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    height:500px;
}

#new{
    display:flex;
    gap: 25px;
    margin-bottom:30px;
    font-size:1em;
    font-family: 'Courier New', Courier, monospace;
    
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
button{
    border-radius:10px;
    color:#3f3f42;
    border:none;
    box-shadow:6px 4px 20px rgba(156, 154, 154, 0.1);
    background-color:rgba(236, 236, 238, 0.151);
    backdrop-filter: blur(0px);
}
input{
    color:#3f3f42;
    border:none;
    box-shadow:16px 14px 10px rgba(0,0,0,0.2);
    background-color:rgba(236, 236, 238, 0.651);
    backdrop-filter: blur(0px);
}
button:hover{
    background-color:rgba(58, 57, 57, 0.2);
}
li{
    display:flex;
    justify-content:space-between;
}
img{
    height:540px;
    width:500px;
    border-radius: 20px;
    box-shadow:16px 14px 10px rgba(0,0,0,0.3);
}
ul{
    height:200px;
}
#newest{
    display:flex;
    gap:100px;
    padding-left:70px;
    padding-right:70px;
}
footer{
    display:flex;
    justify-content: center;
    color: antiquewhite;
    font-size:1.2em;
}
