.a{
    display:flex;
    gap:10px;
    
}
body {
  background: linear-gradient(to right, #eb830c, #2980b9);
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.container {
    display:flex;
  text-align: center;
  background: rgba(192, 179, 179, 0.4);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 60px 40px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0px);
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;

}

h1 {
  font-size: 2em;
  margin-bottom: 3px;
  color: #fff;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 15px;
}
input{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1em;
    color:rgba(78, 74, 74, 0.6);
}
button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

#weatherIcon {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.a{
    margin:5px;
    margin-top: 15px;
    font-size: 1.2em;
    padding:10px;
    width:200px;
    text-align:center;
    border-radius: 15px;
    background-color:rgba(42, 7, 238, 0.2);

    box-shadow:15px 15px 25px rgba(15, 62, 133, 0.5);
}
